
* {
    font-family: 'Roboto', monospace;
    padding: 0;
    margin: 0;
    font-weight: 500;
    list-style: none;
}

:root {
    --background: #030C1B;
    --background-light: #081325;
    --text-light: #586771;

    --correct-letter: green;
    --wrong-letter: red;
}

body {
    background-color: var(--background);
}

.text {
    font-size: 4rem;
}